<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.detail">

    <application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJ0YlojeOismIogdi6eJQ9FEBTk_BHzhA" />
    </application>

</manifest>